src/ejercicio5.dtd

<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE listacompras SYSTEM "ejercicio5.xml">
<!ELEMENT listacompras   (venta+)>
        <!ELEMENT venta          (ventaacredito|ventainmediata)>
        <!ELEMENT ventaacredito  (fechafinpago?, cantidad)>
        <!ELEMENT ventainmediata (cantidad, divisa)>
        <!ELEMENT fechafinpago   (#PCDATA)>
        <!ELEMENT cantidad       (#PCDATA)>
        <!ELEMENT divisa         (#PCDATA)>